#footer{
    background-color: #456882;
}

#header{
    background-color: #1B3C53 !important;
}

body{
    background-color: #aac3da;
}

#ponentes p{
    color: rgb(6, 33, 56);
}

#lugarfechas img{
    max-width: 100%;
}

#footer a, p{
    color: aliceblue;
}

#section{
    scroll-margin-top: 86;
}